* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
main {
  display: block;
  margin: auto;
  font-size: 6.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: white;
}
